<form method="post" action="{{ path('cedula_eliminar', {'id': cedula.rut}) }}"  onsubmit="return confirm('¿Está seguro de borrar esta Cedula?');" style="display:contents;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cedula.rut) }}">
    <button class="btn btn-danger"><i class="fas fa-trash text-white"></i></button>
</form>
