<form method="post" action="{{ path('banco_eliminar', {'id': banco.id}) }}"  onsubmit="return confirm('¿Está seguro de borrar este Banco?');" style="display:contents;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ banco.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash text-white"></i></button>
</form>
