{% extends 'baseHome.html.twig' %}

{% block title %}Edit Banco
{% endblock %}

{% block body %}
	<h1>Edit Banco</h1>
	<section class="content mt-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Editar Banco</h3>
						</div>
						<div class="container py-4 px-0">
							{{ include('_form.html.twig', {'button_label': 'Actualizar'}) }}
							<hr class="mb-3">
							<a href="{{ path('bancos') }}" class="btn btn-primary ">
								<i class="fas fa-angle-left"></i>
							</a>

							{{ include('banco/_delete_form.html.twig') }}
						</div>
					</div>
					<!--end card-->
				</div>

			</div>
		</div>
	</section>
{% endblock %}

