{% extends 'baseHome.html.twig' %}

{% block title %}Bancos index{% endblock %}

{% block body %}
    <h1>Banco index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for banco in bancos %}
            <tr>
                <td>{{ banco.id }}</td>
                <td>{{ banco.nombre }}</td>
                <td>
             {#        <a href="{{ path('banco_show', {'id': banco.id}) }}">show</a>
                    <a href="{{ path('banco_edit', {'id': banco.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
</div>
{% endblock %}
