{% extends 'base.html.twig' %}

{% block title %}SIMBOX - Operaciones de Caja{% endblock %}

{% block body %}
<h1>Fin de la Partida</h1>
	<section class="content mt-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Felicitaciones</h3>
						</div>
						<div class="card-body">
							
 					</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}