{% extends 'base.html.twig' %}

{% block title %}SIMBOX - Operaciones de Caja{% endblock %}

{% block body %}
<div class="container" style="max-width:1360px;">
    <p>Fin de la partida</p>
</div>

<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}