{% extends "baseHome.html.twig" %}

{% block title %}Empresa Alumnos
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('../public/css/dataTables.bootstrap4.min.css') }}">
	<link rel="stylesheet" href="{{ asset('../public/css/responsive.bootstrap4.min.css') }}">
{% endblock %}
{% block body %}

<h1>Empresa alumnos</h1>
<h2>Empresa alumnos</h2>
<h2>Empresa alumnos</h2>
<h2>Empresa alumnos</h2>
<h2>Empresa alumnos</h2>
{{empresa}}
{% endblock %}

