{% extends 'base.html.twig' %}

{% block title %}Hello CrearChequeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-8 p-0">

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Pago Cheque Mismo Banco</h1>
                            </div>

                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">

                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Operaciones</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                    data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation">
                                <div class="form-row mb-3">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="validationCustom01"
                                            placeholder="Número de Cuenta" required>
                                     
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="validationCustom02"
                                        placeholder="Serie Cheque"  required>
                
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="validationCustom03"
                                        placeholder="Número Validación"  required>
                                    </div>

                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-md-8">
                                        <input type="number" class="form-control" id="validationCustom04"
                                        placeholder="Monto"  required>
                                    </div>

                                </div>
                                <div class="form-group mb-3">
                                <button class="btn btn-a" type="submit"><i class="fa fa-plus"></i>Ingresar Operación</button>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.card -->

                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->


        </div>
        <div class="col-4 bg-sidebar-right">

        </div>
    </div>

</div>
{% endblock %}


