<form method="post" action="{{ path('cheque_eliminar', {'id': cheque.id}) }}" onsubmit="return confirm('¿Está seguro de borrar este Cheque?');" style="display:contents;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cheque.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash text-white"></i></button>
</form>
